//git ignore

// node modules
node_modules/
// logs
logs/
// build output
dist/
// environment variables
.env
// coverage reports
coverage/
data/Native IFPs and their Legacy Versions - 7-5-25.csv
data/* 
package-lock.json
